@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset.css";

* {
  font-family: "Inter", sans-serif;
}

div,
p {
  word-break: break-word;
}

:root {
  --bg-sideBarLeft: #1b2639;
  --text-sideBarLeft: #dadada;
  --text-sideBarLeft-hover: #ffffff;
  --bg-player: #111f3b;
  --bg-main: #0f1a2e;
  --bg-primary-hover: #158370;
  --bg-primary: #0daf94;
  --bg-inputFocus: #173b45;
  --text-primary: #ffffff;
  --text-primary-hover: #0daf94;
  --text-secondary: #686f7c;
  --bg-gradientChart: linear-gradient(
    286.07deg,
    rgb(77 30 109) 55.21%,
    rgb(56 20 83)
  );
  --bg-active: #333c4d;
  --bg-active2: #686f7c;
  --bg-under: #1a2232;
  --bg-loading: #1b2639;
  --bg-disable: #162134;
  --text-disable: #575f6d;
  --trans-all: all ease-in 0.1s;
  --height-playControll: 90px;
}

.hPlayControll {
  height: var(--height-playControll);
}
.hMain {
  height: calc(100vh - var(--height-playControll));
}
/* globall background */
.bgSBL {
  background-color: var(--bg-sideBarLeft);
}
.bgPlayer {
  background-color: var(--bg-player);
}
.bgMain {
  background-color: var(--bg-main);
}
.bgPrimary {
  background-color: var(--bg-primary);
}
.bgPrimary:hover {
  background-color: var(--bg-primary-hover);
}
.bgActive {
  background-color: var(--bg-active);
}
.bgActive:focus {
  background-color: var(--bg-inputFocus);
}
.bgActive2 {
  background-color: var(--bg-active2);
}
.bgUnder {
  background-color: var(--bg-under);
}
.bgLoading {
  background-color: var(--bg-loading);
}
.btnDisable {
  color: var(--text-disable);
  background-color: var(--bg-disable);
}
.bgChart {
  background-image: var(--bg-gradientChart);
}

/* global text */
.textSBL {
  color: var(--text-sideBarLeft);
}
.textSBLActive {
  color: var(--text-sideBarLeft-hover);
}
.textSBL:hover {
  color: var(--text-sideBarLeft-hover);
}
.textPrimary {
  color: var(--text-primary);
}
.textPrimary2 {
  color: var(--text-primary);
}
.textPrimary2:hover {
  color: var(--text-primary-hover);
}
.textSecondary {
  color: var(--text-secondary);
}
.textSecondary:hover {
  color: var(--text-primary-hover);
}

.btActice {
  border-top: 1px solid var(--bg-active);
}
.blActice {
  border-left: 1px solid var(--bg-active);
}

.transAll {
  transition: var(--trans-all);
}

/* nav active */
.navSibarLeft.isActive {
  border-left: 3px solid var(--bg-primary);
  background-color: var(--bg-active);
  color: var(--text-sideBarLeft);
}

/* animation text run */
.titlePlayControll {
  -webkit-mask-image: linear-gradient(272deg, transparent 0.5%, #000 10%);
  overflow: hidden;
}
.textPlay {
  position: relative;
  white-space: nowrap;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  animation: run 10s linear infinite alternate;
}
@keyframes run {
  0% {
    left: 10px;
  }
  100% {
    left: -50%;
  }
}
/* custom css progress bar */

.customProgressBar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 3px;
  background: #ccc;
}

.customProgressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
  height: 13px;
  width: 13px;
  background-color: var(--text-primary);
  border-radius: 50%;
  border: none;
  transition: all 0.2s ease-in-out;
}

.customProgressBar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: var(--text-primary);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}
.customProgressBar:hover {
  height: 5px;
}
.customProgressBar:hover::-webkit-slider-thumb {
  opacity: 1;
}
