@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset.css";

* {
  font-family: "Inter", sans-serif;
}

div,
p {
  word-break: break-word;
}

:root {
  --bg-sideBarLeft: #1b2639;
  --text-sideBarLeft: #dadada;
  --text-sideBarLeft-hover: #ffffff;
  --bg-player: #111f3b;
  --bg-main: #0f1a2e;
  --bg-primary-hover: #158370;
  --bg-primary: #0daf94;
  --bg-modal: #173b45;
  --bg-inputFocus: #173b45;
  --text-primary: #ffffff;
  --text-primary-hover: #0daf94;
  --text-secondary: #808896;
  --bg-gradientChart: linear-gradient(
    286.07deg,
    rgb(77 30 109) 55.21%,
    rgb(56 20 83)
  );
  --bg-active: #333c4d;
  --bg-active2: #686f7c;
  --bg-under: #1a2232;
  --bg-loading: #1b2639;
  --bg-disable: #162134;
  --text-disable: #575f6d;
  --trans-all: all ease-in 0.1s;
  --height-playControll: 90px;
  --margin-contentRight: 0px;
  --margin-SidebarRight: 330px;
  --width-sidebarLeft: 240px;
  --width-mainContent: 100%;
  --bg-transparent1: rgba(255, 255, 255, 0.15);
  --bg-transparent2: rgba(0, 0, 0, 0.15);
  --bg-transparent3: rgba(255, 255, 255, 0.2);
  --bg-transparent4: rgba(255, 255, 255, 0.07);
}
/* ẩn scroll */
.hiddenScroll::-webkit-scrollbar {
  display: none; /* cho Chrome, Safari, and Opera */
}
body::-webkit-scrollbar {
  display: none; /* cho Chrome, Safari, and Opera */
}
.bgFiter {
  background: radial-gradient(circle, transparent 40%, var(--bg-main) 75%),
    linear-gradient(to right, var(--bg-main), var(--bg-main)),
    url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.37/static/media/week-chart-bg.edf332e5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color;
  opacity: 15%;
}

.hPlayControll {
  height: var(--height-playControll);
}
.hMain {
  height: calc(100vh - var(--height-playControll));
}
.widthMainContent {
  width: var(--width-mainContent);
}
/* globall background */
.bgSBL {
  background-color: var(--bg-sideBarLeft);
}
.bgPlayer {
  background-color: var(--bg-player);
}
.bgMain {
  background-color: var(--bg-main);
}
.bgModal {
  background-color: var(--bg-modal);
}
.bgPrimary {
  background-color: var(--bg-primary);
}
.bgPrimary:hover {
  background-color: var(--bg-primary-hover);
}
.bgActive {
  background-color: var(--bg-active);
}
.bgFocus {
  background-color: var(--bg-inputFocus);
}
.bgActive:focus {
  background-color: var(--bg-inputFocus);
}
.bgActive2 {
  background-color: var(--bg-active2);
}
.bgUnder {
  background-color: var(--bg-under);
}
.bgLoading {
  background-color: var(--bg-loading);
}
.btnDisable {
  color: var(--text-disable);
  background-color: var(--bg-disable);
}
.bgChart {
  background-image: var(--bg-gradientChart);
}
.bgTrans1 {
  background: var(--bg-transparent1);
}
.bgTrans2 {
  background: var(--bg-transparent2);
}
.bgTrans3 {
  background: var(--bg-transparent3);
}
.bgTrans4 {
  background: var(--bg-transparent4);
}

/* global text */
.textSBL {
  color: var(--text-sideBarLeft);
}
.textSBLActive {
  color: var(--text-sideBarLeft-hover);
}
.textSBL:hover {
  color: var(--text-sideBarLeft-hover);
}
.textPrimary {
  color: var(--text-primary);
}
.textPrimary2 {
  color: var(--text-primary);
}
.textPrimary2:hover {
  color: var(--text-primary-hover);
}
.textSecondary {
  color: var(--text-secondary);
}
.textSecondary2 {
  color: var(--text-secondary);
}
.textSecondary:hover {
  color: var(--text-primary-hover);
}

.btActice {
  border-top: 1px solid var(--bg-active);
}
.blActice {
  border-left: 1px solid var(--bg-active);
}

.transAll {
  transition: var(--trans-all);
}
.shadowHeader {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

/* nav active */
.navSibarLeft.isActive {
  border-left: 3px solid var(--bg-primary);
  background-color: var(--bg-active);
  color: var(--text-sideBarLeft);
}

.menuSearch .isActive {
  border-bottom: 2px solid var(--bg-primary);
}

/* animation text run */
.titlePlayControll {
  -webkit-mask-image: linear-gradient(272deg, transparent 0.5%, #000 10%);
  overflow: hidden;
}
.textPlay {
  position: relative;
  white-space: nowrap;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  animation: run 10s linear infinite alternate;
}
@keyframes run {
  0% {
    left: 10px;
  }
  100% {
    left: -50%;
  }
}
/* custom css progress bar */

.customProgressBar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 3px;
  background: #ccc;
}

.customProgressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
  height: 13px;
  width: 13px;
  background-color: var(--text-primary);
  border-radius: 50%;
  border: none;
  transition: all 0.2s ease-in-out;
}

.customProgressBar::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: var(--text-primary);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}
.customProgressBar:hover {
  height: 5px;
}
.customProgressBar:hover::-webkit-slider-thumb {
  opacity: 1;
}

.containerSlider:hover .btnPrev,
.containerSlider:hover .btnNext {
  display: flex;
}

.transition1 {
  transition: all ease 1s;
}

.text1Line {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text1Line2 {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.limit2LineText {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.strokeText {
  -webkit-text-stroke: 1px var(--text-secondary);
  font-family: "Roboto", sans-serif;
}
.strokeText1 {
  -webkit-text-stroke: 1px #4a90e2;
  font-family: "Roboto", sans-serif;
}
.strokeText2 {
  -webkit-text-stroke: 1px #50e3c2;
  font-family: "Roboto", sans-serif;
}
.strokeText3 {
  -webkit-text-stroke: 1px #e35050;
  font-family: "Roboto", sans-serif;
}
.strokeText4 {
  -webkit-text-stroke: 1px var(--text-sideBarLeft);
  font-family: "Roboto", sans-serif;
}

.translateX100 {
  transform: translateX(120%) !important;
}
.translateX0 {
  transform: translateX(0%) !important;
}

.slideRight {
  -webkit-animation: slide-left 1.5s ease both;
  animation: slide-right 1.5s ease both;
  transition: all ease 1.5s;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.sidebarRightPlaying .card-media.playing.unactive {
  display: none;
}
.sidebarRightPlaying .card-media.playing.active {
  display: flex;
}

.section-newRelease .card-media {
  display: flex;
}

.titleZingchart {
  background: radial-gradient(
      50% 124.93% at 95.86% -10%,
      #3efad9 0,
      hsla(0, 0%, 100%, 0) 100%
    ),
    linear-gradient(91.56deg, #ff9357 1.54%, #9100ff 98.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* toasify */
.Toastify__toast--warning {
  background: #ffe8bc !important;
}
.Toastify__toast--error {
  background: #fca7a9 !important;
}
.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: #10171d; /* #10171D */
  font-size: 0.875rem !important;
}
.toastProgress {
  background: #333f48 !important;
}
.listSuggestSearch,
.bgInputSearch {
  display: none;
}

.inputSearch:focus ~ .bgInputSearch,
.inputSearch:focus ~ .listSuggestSearch {
  display: block;
}

.zoom-enter {
  opacity: 0;
}
.zoom-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.zoom-enter .content {
  opacity: 0;
  transform: scale(0.3);
}
.zoom-enter-active .content {
  opacity: 1;
  transform: scale(1);
  transition: opacity 200ms;
}
.zoom-exit {
  opacity: 1;
}
.zoom-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
